.productNameContainer{
    margin-bottom: 1rem;
}
.skuSelectorSubcontainer{
    margin-top: 1rem;
}

.productDescriptionContainer{
    padding: 1rem;
}
@media (min-width: 768px){
    .swiperCaretNext, .swiperCaretPrev{
        z-index: 3;
        position: absolute;
        top: 95%;
    }

}
.productImagesThumb{
    -webkit-box-shadow: 4px 4px 6px 2px rgba(234,234,234,1);
    -moz-box-shadow: 4px 4px 6px 2px rgba(234,234,234,1);
    box-shadow: 4px 4px 6px 2px rgba(234,234,234,1);
}
.frameAround{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.productImagesThumb {
    width: 85%;
}