.groupName{
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #696969;
}
.specificationName{
    font-weight: 600;
}
.specificationName, .specificationValue{
    width: 45% !important;
    padding: 0.3rem;
    border: 1px solid #fff;
  


}
.specificationName:nth-child(odd), .specificationValue:nth-child(even){
    background: #fafafa;
}

.specificationName:nth-child(even),.specificationValue:nth-child(odd) {
    background: #e5e5e5;
}

