.flexCol--product-info{
    padding: 1rem;
}
.flexCol--product-images{
    position: relative;
}
.flexCol--product-images :global(.vtex-flex-layout-0-x-flexColChild):last-child{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    width: 47px;
    height: 47px !important;
}
.flexColChild--product-info  .flexRow--agregar-al-carrito :global(.vtex-button){
    margin-top: 1rem;
    border: 2px solid #16F0DF;
    border-bottom: 1px solid #16F0DF;
    background: #fff;
    color: #16F0DF;
    cursor: pointer;
    font-weight: 600;
    height: 50px;
    font-size: 1.5rem;
    background: linear-gradient(transparent 0%, transparent calc(50% - 1px), #16F0DF calc(50% - 1px), #16F0DF 100%);
    background-size: 100% 200%;
    background-position: 0px 0px;
    transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -webkit-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -moz-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -ms-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -o-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
}
.flexColChild--product-info  .flexRow--agregar-al-carrito :global(.vtex-button):hover{
    color: #fff;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #16F0DF calc(50% - 9px),#16F0DF 100%);
    background-position: 0px 100%;
    
}
.flexColChild--product-info :global(.vtex-button){
    border: none;
}

.flexRowContent--especificaciones{
    padding: 1rem;
}
.flexRowContent--especificaciones :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    flex-wrap: wrap;
    display: flex;
}
@media (min-width: 768px){
    .flexRow--container{
        width: 90%;
        margin: 0 auto;
        padding-top: 2rem;
    }
    .flexCol--product-info{
        border: 2px solid #16F0DF;
        margin-left: 1rem;
    }
    .flexRow--main-product{
        margin-bottom: 2rem;
    }
    .flexRowContent--especificaciones :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        width: 50% !important;
    }
}
.flexRowContent--options :global(.vtex-button){
    margin-bottom: 2rem;
    background-color: #d9f6f4;
    color: #16F0DF;
    font-weight: bold;
}
:global(.vtex-product-customizer-2-x-itemContainer){
    display: flex;
    align-items: center;
}
:global(.vtex-product-customizer-2-x-itemContainer) :global(.vtex-checkbox__line-container){
    order: 1;
}
:global(.vtex-product-customizer-2-x-itemContainer) :global(.vtex-product-customizer-2-x-productAssemblyOptionItemImage){
    order: 2;
    margin-left: 0.2rem;
}
:global(.vtex-product-customizer-2-x-itemContainer) :global(.vtex-product-customizer-2-x-productAssemblyOptionItemName){
    order: 3;
    margin-left: 0.5rem;

}
:global(.vtex-product-customizer-2-x-itemContainer) :global(.vtex-product-customizer-2-x-productAssemblyOptionItemPrice){
    order: 4;
    margin-left: 0.3rem;
}
.flexRow--busqueda-vacia{
    display: flex;
    justify-content: center;
}