.slideChildrenContainer--slider-principal {
    display: flex;
    flex-wrap: wrap;
}
.sliderLayoutContainer--refuerzos-confianza{
    padding-bottom: 2rem ;
}
.paginationDot{
    position: relative;
    bottom: 20px;

}
.paginationDot--isActive{
    background-color: #000;
   
}
.slideChildrenContainer--carousel-marcas{
    background-color: #393536;
    padding: 1rem;
    padding-bottom: 2rem;
    align-items: center;
}
.caretIcon--carousel-marcas{
    color: #fff;
    position: relative;
}

.sliderTrackContainer--carousel-marcas {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
.sliderArrows--carousel-marcas{
    top: 30%;
}
@media (min-width:1024px){
    .sliderLeftArrow--carousel-marcas{
        left: 2rem;
    }
    .sliderRightArrow--carousel-marcas{
        right: 2rem;
    }
}
.slideChildrenContainer--refuerzos-confianza{
    width: 99%;
}
.sliderLayoutContainer--slider-principal, .sliderLayoutContainer--refuerzos-confianza{
    max-width: 1920px;
}
@media (min-width: 1920px){
    .sliderLayoutContainer--slider-principal, .sliderLayoutContainer--refuerzos-confianza{
        margin: 0 auto;

    }
  
}
@media (min-width: 768px){
    .sliderLayoutContainer--refuerzos-confianza{
        width: 60%;
        margin: 0 auto;
    }

}
:global(.vtex-slider-0-x-dotsContainer){
    display: none;
}