
.container {
    padding: 0;
}



.imageElement--banner-texto{
    width: 160px;
    height: 100px;
}
.imageElement--banner-lanzamiento{
    width: 90%;
}

@media (max-width: 600px){
    .imageElement--banner-promo:nth-child(odd){
        margin-bottom: 1rem;
    }
    .label--newsletter{
        font-size: 22px;
    }
    .imageElement--banner-lanzamiento{
        width: auto;
        height: auto;
    }
    .imageElement--banner-lanzamiento:nth-child(odd){
        margin-bottom: 1rem;
    }
 
    
}

.form--newsletter{
    padding: 2rem 1rem;
}
.inputGroup--newsletter{
    display: flex;
    align-items: center;
}

@media (min-width: 768px){
    
.container--newsletter{
    background-image: url("/arquivos/background-newsletter.png");
    padding: 2rem 0;
   
}
}
.imageElement--banner-deportes{
    margin-bottom: 1rem;
}

.imageElement--portada-carousel-mobile{
    width: 95%;
}
.imageElement--refuerzo{
    width: 40px;
    height: 40px;
    
}
.imageElement--portada-desk{
    margin: 0 auto;
    height: auto;
}

.confirmationTitle--newsletter{
    color: #fff;
    padding-top: 1rem;
}
.confirmationText--newsletter{
    color: #fff;


}
.imageElement--banner{
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}
.imageElement--banner:hover{
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    border: 2px solid #16F0DF;
}