.listContainer{
    display: flex;
    padding: 0 0.2rem;
    justify-content: center;
    margin: 0 auto;

}


.listItemActive :global(.vtex-button){
  background: #fff;
  border: none;
  border-bottom: 2px solid #16F0DF;
  

}
.listItemActive :global(.vtex-button__label){
    color: #696969;
    font-weight: 600;
    
}
.listItem :global(.vtex-button__label){
    font-size: 15px;
    padding:0.2rem;
  
    color: #696969;


}


.contentContainer{
    padding-top: 0;
}




@media (min-width: 660px) and (max-width: 1024px){
    .listContainer{
      
        width: 90%;
        
    }
    .listItemActive :global(.vtex-button){
        width: 100%;
    }
    

}
@media (max-width: 600px){
    .contentContainer{
        width: 95%;
        padding-bottom: 1rem;
    }
}

@media (min-width: 768px){
    .contentContainer{
        width: 90%;
        margin: 0 auto;
    }
}
