@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  max-width: 1500px;
}

@media (min-width: 1500px) {
  .container {
    margin: 0 auto;
  }
}

.container--title-newsletter {
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .paragraph--title {
    width: 100% !important;
  }
  .container--title{
    padding-left: 3rem;
    margin-top: 2rem;
  }

}

.paragraph--title {
  padding-left: 0.7rem;
  font-size: 1.5rem;
  font-weight: 600;
 
}



.paragraph--refuerzo{
  font-size: 0.8rem;
  padding-left: 0.2rem;
  color: #6E6E6E;

}


:global(.vtex-store__template){
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;


}