.flexRow{
    max-width: 100vw;
}

.flexRow--vitrina .flexCol--build-container{
    padding: 1rem;
}
.flexCol--build-container{
    margin:0;
    padding: 0;
}
.flexRowContent--contenedor-vitrina {
    align-items: center;


}


.flexRowContent--refuerzo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexRowContent--refuerzo :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even){
    width: 50% !important;
}
@media (min-width: 1024px){
    .flexRowContent--refuerzo :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(even){
        width: 80% !important;
    }
    
.flexRowContent--refuerzo :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(odd){
    display: flex;
    justify-content: flex-end;
    padding-right: 0.5rem;
    align-items: center;
}


}
.flexRowContent--refuerzo :global(.vtex-flex-layout-0-x-stretchChildrenWidth):nth-child(odd){
    width: 30% !important;
}
.flexRow--refuerzo{
 
width: 100%;
justify-content: space-evenly;
padding: 0.7rem 0.5rem;
    }


@media (min-width: 768px){
 
    .flexRowContent--banners{
        gap: 2%;
        width: 90%;
        margin: 0 auto;
        padding: 2rem 0;
        margin-top: 2rem;
    }
}

.flexColChild--build-container :global(.vtex-shelf-1-x-container){
    padding-bottom: 0;
}
.flexRow--banners{
    margin-top: 4.5rem;
}
.flexCol--col-banners{
    gap: 1%;
}
@media (min-width: 768px){
    .flexRow--section-vitrina-portada{
        width: 90%;
        margin: 0 auto;
    }
}