.flexRow--footer{
    background: #393536;
    border-top: 6px solid #ED1C24;
}
.flexRow--footer{ 
    padding: 2rem 3rem;
    padding-bottom: 3rem;
}


@media (max-width: 768px){
  
    .flexRow--bottom-footer .flexRowContent{
        display: flex;
        justify-content: space-evenly;
        padding: 0 0.5rem;
    }
    .flexCol--footer-arrepentimiento{
        margin-top: 3rem;
    }
    .flexRowContent--row-redes{
        display: flex;
        justify-content: center;
        padding: 0 3rem;
    }
    .flexRowContent--logos :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
        padding: 0.3rem;

    }
    
    
}

.flexColChild--col-redes .stretchChildrenWidth{
    align-items: center;
}

.flexRow-top-footer{
    padding: 0 1rem;
    align-items: center;
}

@media (min-width: 768px){
    .flexCol--col-redes{
        display: flex;
       align-items: flex-end;
       padding-right: 2rem;
    }
    .flexRow--row-redes{
        width: 350px;
    }
   
  
    .flexRowContent--logos{
        padding-top: 0.8rem;
    }
    .flexRow--bottom-footer{
        align-items: center;
        padding: 0 3rem;
    }
    .flexRowContent--logos{
        width: 300px;
    }
    .flexRowContent--bottom-footer{
        justify-content: space-between;
    }
  
}


.flexRow--logos{
    padding: 1rem 0.1rem;
}
.flexRowContent--logos{
    align-items: center;
}




@media (min-width:768px){
   
    .flexRowContent--logos :global(.vtex-store-components-3-x-imageElementLink){
        display: flex;
        justify-content: flex-end;
        padding-right: 0.2rem;
    }
  .flexRow--bottom-footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
      justify-content: flex-start;
  }
  .flexRow--bottom-footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
    justify-content: flex-end;
    width: 20% !important;
}
.flexRowContent--copy :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
    width: 100% !important;
}
  
}
.flexRow--bottom-footer  :global(.vtex-store-components-3-x-imageElementLink){
    display: flex;
    justify-content: center;
}