
.paragraph--title-footer {
  color: #f9f9f9;
  font-weight: 600;
}
.link--link-footer {
  color: #f9f9f9;
  text-decoration: none;
}
.container--link-arrepentimiento {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  height: 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  width: 100%;
  padding: 0.5rem;
}
.link--link-arrepentimiento {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}
.link--link-arrepentimiento::before {
  content: url("/arquivos/arrepentimiento.png");
  padding-right: 5px;
  position: relative;
  top: 5px;
}
.container--copy-footer {
  display: flex;
  align-items: flex-start;
}
.wrapper--title-redes {
  width: 150px;
}
.paragraph--title-newsletter {
  color: #393536;
}
.strong--title-newsletter {
  font-size: 24px;
  font-weight: 600;
  color: #393536;
}
.paragraph--title-redes {
  color: #393536;
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container--link-arrepentimiento {
    margin-left: 0;
    padding: 0.5rem;
    margin-top: 0;
  }
  .link--link-arrepentimiento {
    font-size: 10px;
  }
  .paragraph--link-footer {
    font-size: 13px;
  }
  .paragraph--title-footer {
    font-size: 15px;
  }
  .container--link-footer {
    padding-top: 1rem;
  }
}

@media (min-width: 1024px) {

  .container--copy-footer {
    padding-top: 1rem;
  }
  .container--link-footer{
    padding-top: 0;
  }
  .paragraph--title-newsletter{
    font-size: 0.85rem;
  }
  .paragraph--link-arrepentimiento{
    text-align: center;
  }

  
}

.paragraph--link-footer{
  line-height: 2;
}
@media (max-width: 768px){
 .container--link-arrepentimiento{
    margin-top: 2rem;
}
}
@media (min-width: 667px ) and (max-width: 1023px){
  .paragraph--title-footer {
    font-size: 18px;
  }
 .paragraph--link-footer{
  font-size: 14px;
}
.paragraph--link-arrepentimiento{
  text-align: center;
}
.link--link-arrepentimiento::before {
  top: 17px;
}
.link--link-arrepentimiento{
  font-size: 12px;
}
.container--link-arrepentimiento{
  height: 50px;
}


}
.container--contactate-footer{
  color: #fff;
  text-align: center;
  padding:0.5rem;
  font-weight: 600;

}
.link--contactate-footer{
  color: #fff;
  text-decoration: none;
}