@media (max-width:768px){
    .form--newsletter-footer{
        flex-wrap: wrap;
    }
    .newsletter--newsletter-footer{
        margin-top: -1rem;
    }
}
.form--newsletter-footer{
    display: flex;
}
.label--newsletter-footer{
    font-size: 15px;
}
.imageElement--icono-redes{
    width: 30px;
    height: 30px;
}
.inputGroup--newsletter-footer{
    display: flex;
    align-items: center;
}
.inputGroup--newsletter-footer .buttonContainer{
    padding-left: 0;
    padding-top: 0;
}
.inputGroup--newsletter-footer :global(.vtex-button){
    background-color: #393536;
    border: none !important;
}
.inputGroup--newsletter-footer :global(.vtex-styleguide-9-x-input){
    background-color: #F2F2F2;
    border: 1px solid #B5B5B5;
    border-right: none;
    font-style: italic;
    font-weight: lighter;
}
@media (min-width: 768px ) and (max-width: 1024px){
    .inputGroup--newsletter-footer :global(.vtex-styleguide-9-x-input){
        width: 180px;
    }
    .inputGroup--newsletter-footer{
        margin-left: 1rem;
    }
   
  
}
@media (min-width: 1024px){
    .inputGroup--newsletter-footer {
        width: 100%;
        height: 40px;
    }

}
.buttonContainer--newsletter-footer :global(.vtex-button__label), .buttonContainer--newsletter :global(.vtex-button__label){
    font-weight: 600;
}