.sellingPrice{
    font-size: 18px;
}
.price_listPriceLabel, .price_sellingPriceLabel {
    display: none;
}
.price_listPrice--precio-vitrina-product :global(.vtex-store-components-3-x-currencyContainer--precio-vitrina-product){
    color: #696969;
    font-size: 0.8rem;
}
.price_className--precio-vitrina-product{
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 1rem;
    flex-direction: column;
}
.discountInsideContainer{
    top: 15px;
    left: 0;
    width: 45px;
    background-color: #16F0DF;
    font-weight: bold;
}
@media (min-width: 1024px){
    .sellingPrice{
        font-size: 1.2rem;
    }
}
.productBrandLogo{
    width: 100%;
    height: auto !important;
    padding-right: 0.2rem;
}
.productBrandLogoWrapper{
    height: 100%  !important;
}