.nameContainer--nombre-vitrina-product{
    display: flex;
    justify-content: flex-start;
    padding: 0;
    padding-left: 0.2rem;
    font-size: 1rem;
    color: #929292;
}
.element--vitrina-product{

    background-color: #fff;
 
 


}


.containerNormal--vitrina-product{
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
}

.brandName--nombre-vitrina-product {
    font-size: 12px;
    display: flex;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: #929292;
    font-size: 1rem;
}


.container--vitrina-product{
    box-shadow: 0px 0px 10px 2px rgb(238 238 238);
    padding: 0.5rem;
}
.element--vitrina-product :global(.vtex-button){
    background: #fff;
    color: #16F0DF;
    border: 2px solid #16F0DF;
    border-bottom: 1px solid #16F0DF;
    margin-top: 0.5rem;
    cursor: pointer;
    background: linear-gradient(transparent 0%, transparent calc(50% - 1px), #16F0DF calc(50% - 1px), #16F0DF 100%);
    background-size: 100% 200%;
    background-position: 0px 0px;
    transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -webkit-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -moz-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -ms-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -o-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
}
.element--vitrina-product :global(.vtex-button):hover{
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #16F0DF calc(50% - 9px),#16F0DF 100%);
    background-position: 0px 100%;
    color: #fff;
   
    font-weight: bolder;
}
:global(.vtex-product-summary-2-x-imageNormal){
    max-height: 8rem;
}