.installments--cuotas-vitrina-product{
    font-size: 0.8rem;
    text-transform: lowercase;
    text-align: left;
}

:global(.vtex-store-components-3-x-price_sellingPrice--precio-vitrina-product){
    font-size: 1.5rem;


}