
.container--shelf-vitrina{
    margin-top: 1rem;
}
.container--shelf-vitrina :global(.vtex-slider-0-x-dotsContainer){
    display: none;
}



@media (min-width: 1024px){
    .arrowLeft--shelf-vitrina{
        left: -45px
    }
    .arrowRight--shelf-vitrina{
        right: -45px
    }
}
@media (max-width: 600px){
    .arrowLeft{
        position: absolute;
        top: 107%;
        left: 35%;
        
    }
    .arrowRight{
        position: absolute;
        top: 107%;
        right: 35%;

    }
    :global(.vtex-shelf-1-x-caretIcon){
        width: 31px;
        height: 36px;
    }
}

.shelfContentContainer :global(.vtex-store-components-3-x-currencyDecimal){
    display: none;
}
.shelfContentContainer :global(.vtex-store-components-3-x-currencyFraction):last-child{
    font-size: 0.7rem;
    vertical-align: super;
}
@media (min-width: 768px){
    .caretIcon--shelf-vitrina{
        display: none;
    }
}
.shelfContentContainer{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}