.flexRowContent--vitrina-nombre-marca{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem 0.3rem;
}
:global(.vtex-product-summary-2-x-nameContainer--nombre-vitrina-product){
    min-height: 68px;


}
.flexRowContent--vitrina-nombre-marca :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child{
    width: 75% !important;
    padding: 0 !important;
}
.flexRowContent--vitrina-nombre-marca :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child{
    width: 20% !important;
    padding: 0 !important;

}