.minicartTitle{
    text-align: center;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productBrandName){
    display: none;
}
.minicartProductListContainer :global(.vtex-product-list-0-x-productName){
   text-transform: uppercase;
   font-weight: bold;
   font-size: 14px;
   color: #393536;
   font-family: "Roboto", sans-serif;

   
}
.minicartProductListContainer :global(.vtex-product-list-0-x-removeButton ){
   
    color: #393536 !important;
 }
 .minicartProductListContainer :global(.vtex-product-list-0-x-quantitySelector){
     width: 5rem;
 }
 .minicartProductListContainer :global(.vtex-product-list-0-x-price){
     width: 100%;
     justify-content: flex-end;
     display: flex;
     align-items: center;
     color: #393536;
     font-weight: bold;
 }
 .minicartProductListContainer :global(.vtex-product-list-0-x-productPriceCurrency){
     margin: 0;
     padding-right: 0.3rem;
 }
 .minicartProductListContainer :global(.vtex-product-list-0-x-productPriceContainer)::before{
   content: "Precio";
   position: absolute;
    left: 32%;
    color: #393536;
    font-family: "Roboto", sans-serif;
    font-weight: normal;

}
@media (min-width: 768px){
    .minicartProductListContainer :global(.vtex-product-list-0-x-productPriceContainer)::before{
        position: relative;
        left: -5px;
        font-size: 0.9rem;
        
     
     }
 

}
.minicartQuantityBadge{
    background-color: #ED1C24;
}
.minicartCheckoutButton :global(.vtex-button){
    background-color: #fff ;
    border: 2px solid #16F0DF;
    border-bottom: 1px solid #16F0DF;
    color: #16F0DF;
    cursor: pointer;
    background: linear-gradient(transparent 0%, transparent calc(50% - 1px), #16F0DF calc(50% - 1px), #16F0DF 100%);
    background-size: 100% 200%;
    background-position: 0px 0px;
    transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -webkit-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -moz-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -ms-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
    -o-transition: background-position 200ms ease-in-out 0s, padding 200ms ease-in-out 0s;
}
.minicartCheckoutButton :global(.vtex-button):hover{
    color: #fff ;
    background-image: linear-gradient(transparent 0%, transparent calc(50% - 9px), #16F0DF calc(50% - 9px),#16F0DF 100%);
    background-position: 0px 100%;
   
}
.minicartCheckoutButton :global(.vtex-button__label){
    letter-spacing: 1px;
}