.flexRowContent--minicart-footer :global(.vtex-button__label)::after{
    font-size: 1.2rem !important;
    content: "FINALIZAR COMPRA";
    font-weight: bold;
}
.flexRowContent--minicart-footer :global(.vtex-checkout-summary-0-x-summaryItemContainer ):nth-child(even){
color: #696969; 
font-weight: bolder; 
}
.flexRowContent--minicart-footer :global(.vtex-checkout-summary-0-x-summaryItemContainer ):nth-child(odd){
    color: #787878;  
}
:global(.vtex-checkout-summary-0-x-summaryItemPrice){
    font-weight: bold;
}
.flexRowContent--minicart-footer :global(.vtex-minicart-2-x-minicartCheckoutButton){
    margin: 0 !important;
    padding: 0 !important;
}
.flexRowContent--minicart-footer :global(.vtex-button){
    padding: 1.2rem;
}