

.flexRow--main-header-mobile .flexRowContent{
    align-items: center;
}
.flexRowContent--main-header-mobile {
    background: #fff;
}


.flexRowContent--buscador{
    background-color: #fff;
}
@media (min-width: 768px){
    .flexRow--iconos{
        margin-right: 2rem;
    }

}
