.searchBarIcon--search{
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}
.searchBarContainer :global(.vtex-input-prefix__group){
    border: 2px solid #16F0DF;
}
.searchIcon{
    color: #16F0DF;
}
.searchBarInnerContainer :global(.vtex-input__suffix){
    padding: 0;
    border: 1px solid #fff;
}
@media (min-width: 1025px){
    .searchBarIcon--search{
      
        width: 35px;
       
    }
    .searchBarIcon--clear{
        width: 60px;
        display: flex;
        justify-content: center;
    }

    .searchBarInnerContainer :global(.vtex-styleguide-9-x-input ){
        border-right: none;
        background: none;
    }
   

}
.imageElement--arrow{
    width: 15px;
}
@media (max-width: 765px){
    .searchIcon{
        color:#5E5E5E;
    }
    .searchBarIcon--search{
        background: #fff;
    }
    .searchBarInnerContainer :global(.vtex-styleguide-9-x-input ){
        text-align: center;
        background: #fff;


    }
    .searchBarContainer{
        padding: 0;
    }
    .searchBarContainer :global(.vtex-input-prefix__group) {
        height: 48px;
    
    }
}

.searchBarInnerContainer :global(.vtex-styleguide-9-x-input ){
    font-weight: lighter;
    font-style: italic;
}
@media (min-width: 1024px){

.logoImage{
    width: 185px;
}
.searchBarContainer{
    width: 800px;
    margin-right: 7rem;
}


.imageElement--empty-cart{
    width: 50px;
}
}
