
.container{
    background-image: url('assets/header/user.svg');
    background-size: 30px 25px;
    background-repeat: no-repeat;
    background-position: center; 
}
.profileIcon{
    display: none;    
}