.openIconContainer{
    background-image: url('assets/header/cart.svg');
    background-size: 30px 25px;
    background-repeat: no-repeat;
    background-position: center;
    width: 60%;
}

.minicartCheckoutButton :global(.vtex-button__label){
    font-size: 0px;
}
.cartIcon{
    display: none;
}
.minicartContainer{
    display: flex;
    align-items: center;
}
.minicartQuantityBadge{
    background-color: #16F0DF;
}