.tileListList{
    flex-direction: column !important;
}
.tileListList :global(.vtex-product-summary-2-x-element){
    flex-direction: row;
    padding-left: 2rem;
    align-items: center;
}
.tileListList :global(.vtex-product-summary-2-x-imageContainer){
    width: 20%;
    margin: 0;
}
.tileListList :global(.vtex-product-summary-2-x-information){
   
    padding-left: 2rem;
   
}
.tileListList :global(.vtex-product-summary-2-x-nameContainer){
  height: 40px;
 
}
.tileListList :global(.vtex-product-summary-2-x-productBrand){
    text-transform: uppercase;
    color: #393536;
    font-size: 0.9rem;
    font-weight: bold;

}
.tileListList :global(.vtex-store-components-3-x-sellingPriceContainer){
    color: #393536;
    font-size: 0.7rem;
}
.tileListList :global(.vtex-product-summary-2-x-buyButtonContainer){
    display: none;
}
.tileListSeeMore{
    font-size: 0 !important;
    text-decoration: none;

}
.tileListSeeMore::after{
    font-size: 1rem;
    content: "VER TODOS LOS RESULTADOS ➝";
    vertical-align: middle;
    font-weight: bold;
}
.tileListList :global(.vtex-store-components-3-x-discountInsideContainer ){
    top: -10px;
}
.tileListList :global(.vtex-store-components-3-x-listPriceLabel), .tileListList :global(.vtex-store-components-3-x-sellingPriceLabel){
    display: none;
}
.tileListList :global(.vtex-store-components-3-x-priceContainer){
    flex-direction: row;
    align-items: center;
}
@media (min-width: 1024px){
    .tileListFooter{
        display: flex;
        justify-content: flex-end;
        padding-right: 2rem;
    }
}
@media (max-width: 768px){
    :global(.vtex-search-2-x-biggy-autocomplete-wrapper ){
        width: 100vw;
    } 
    :global(.vtex-input__suffix ){
        padding: 0.5rem;
    }
}
.tileListList :global(.vtex-store-components-3-x-priceContainer){
    flex-direction: column !important;
}