.wrapper--titulo-menu .paragraph{
    color: #767676;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 1.5rem;
}

.container--talles{
    display: flex;
    justify-content: center;
}

.container--talles .link{
    text-decoration: none;
    color: #767676;
    margin: 0.5rem;
    border: 1px solid #767676;
    padding: 0.2rem;
    font-size: 14px;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;

}
.container--talles .link:hover{
    color: #393536;
    border: 1px solid #393536; 
    font-weight: bolder;

}
.container--texto-menu {
    display: flex;
    justify-content: center;
}
.container--texto-menu .paragraph{
    text-align: center;
}
.container--texto-menu .link{
    text-decoration: none;
    color: #767676;

}
.container--texto-menu .link:hover{
    color: #393536;

}
.wrapper--ver-todo{
    font-size: 14px;
    font-weight: 600;
    /*width: 90px;
     background: url("assets/header/arrow.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center; */
}
.wrapper--ver-todo .link{
    color: #767676;
    text-decoration: none;
}
/* MENÚ MOBILE*/

