.formTitle{
    font-size: 0;
}
.formTitle:after{
    font-size: 1rem;
    content: "Selecciona una opcion";
}
:global(.vtex-login-2-x-content){
    background: #fff;
}
.loginOptionsContainer :global(.vtex-button){

    border: 1px solid #696969;
    background-color: #fff;
    color: #696969;
    text-transform: uppercase;
    font-size: 0.8rem;
}
:global(.vtex-pageHeader-link__container) :global(.vtex-button){
    color: #16F0DF;
}
:global(.vtex-account__page){
    padding-bottom: 3rem;
    background-color: #fafafa;
}
:global(.vtex-my-account-1-x-menu){
    background-color: #fafafa;
}
:global(.vtex-account){
    background-color: #fafafa;


}
:global(.vtex-my-account-1-x-userGreeting){
    color: #393536;
    font-weight: 600;
}
:global(.vtex-my-account-1-x-menu) :global(.vtex-account_menu-link),:global(.vtex-my-account-1-x-menu) :global(.vtex-my-account-1-x-menuLink){
    font-size: 20px;
    color: #696969;
}
:global(.vtex-pageHeader__title){
    margin-bottom: 1rem ;
    
}
:global(.vtex-my-account-1-x-boxContainerFooter) :global(.vtex-button__label){
    color: #929292;
    text-transform: capitalize;
}
:global(.vtex-login-2-x-content){
    background-color: #f9f9f9;


}
:global(.vtex-my-orders-app-3-x-orderCard){
    margin-top: 0;
    border: none;
}
:global(.vtex-my-orders-app-3-x-orderHeaderValue){
    color: #16F0DF;
}
:global(.vtex-account__page), :global(.vtex-account__page) :global(.vtex-pageHeader__title){
    color: #555555;
}
:global(.vtex-my-orders-app-3-x-orderProductName), :global(.vtex-my-orders-app-3-x-productName){
    text-transform: uppercase;
    color: #393536;
    font-weight: 600;
    text-decoration: none;
}
:global(.vtex-my-orders-app-3-x-orderProductShipping){
    color: #696969;
}
:global(.vtex-my-orders-app-3-x-orderHeader){
    background-color: #fff;
    border: none;
}

:global(.vtex-my-orders-app-3-x-orderBody){
    margin-top: 1rem;
    border: 1px solid #696969;
}
:global(.overflow-y-scroll){
    overflow: auto;
}

:global(.vtex-login-2-x-button){
    border: 2px solid #16F0DF;
    
}
:global(.vtex-login-2-x-button) :global(.t-action--small){
    color: #16F0DF;
    font-weight: bold;
    letter-spacing: 1px;

}